body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

/* Apply styles to the table header */
table thead th {
font-weight: bold;
text-align: center;


}

table thead tr {
font-weight: bold;
text-align: center;
color:rgb(236, 224, 201);

}


/* Apply alternating background colors to table rows */
table tbody tr:nth-child(even) {
background-color: #f2f2f2;
}

/* Style the resume link */
table tbody tr td:nth-child(6) a {
color: rgb(158, 22, 74);
text-decoration: underline;
}

/* Center align content in table cells */
table tbody tr td {
text-align: center;

}

table{
overflow: auto;
width:80%;
}

/* Apply red background color to table header cells */
.table-striped.table-shadow thead th {
color: rgb(236, 224, 201); /* White text color */
}

.table .thead-dark th{
color: rgb(236, 224, 201); /* White text color */
}

img{
width:15px;
height:15px;
}

button{
margin-left:5px;
}

.alert{
position:absolute;
top:20%;
margin-left:15vw;
}


.add-candidate, .add-candidate:hover{
background-color: #343a40;
color:rgb(236, 224, 201);
margin-bottom:2px;
}

.submit, .submit:hover{
background-color: #343a40;
color:rgb(236, 224, 201);
}
.small-modal{
margin-top:40%;
}

.pagination {
display: flex;
justify-content: center;
margin-top: 20px;
}

.pagination .page-item {
margin: 0 5px;
list-style: none;
}

.pagination .page-item .page-link {
padding: 6px 12px;
border: 1px solid #dee2e6;
background-color: #fff;
color: #343a40;
border-radius: 4px;
}

.pagination .page-item .page-link:hover {
background-color: #e9ecef;
}

.pagination .page-item.active .page-link {
background-color: #343a40;
border-color: #343a40;
color: rgb(236, 224, 201);;
}

/* Navbar */
.navbar {
background-color: #343a40; /* White navbar */
padding: 10px 0; /* Add some padding */
}

.navbar-brand {
font-weight: 700; /* Bold font for brand */
color: #ffffff; /* White text color */
}

.navbar-toggler-icon {
color: #ffffff; /* White color for the toggle button */
}


.navbar-nav .nav-item .nav-link {
color: rgb(236, 224, 201);
font-size: 20px;
}


.navbar-nav .nav-item .nav-link:hover {
color: rgb(175, 160, 129);; /* Light gray color on hover */
}

/* Shadow effect for table */
.table-shadow {
box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

main {
flex: 1; /* Allow main content to grow to fill remaining space */
padding-top: 20px; /* Add padding to the top of the main content */
padding-bottom: 20px; /* Add padding to the bottom of the main content */
}
footer {
background-color: #343a40; /* Dark background color for footer */
color: #ffffff; /* White text color */
padding: 20px 0; /* Add padding to the top and bottom of the footer */
width: 100%; /* Make footer span full width */
flex-shrink: 0; /* Prevent footer from shrinking */
}

#filters-button{
background: #343a40;
padding: 5px 10px 5px 10px; 
margin-left:5px; 
z-index:100
}

.search{
background-color: #343a40;
color:rgb(236, 224, 201);
}

.search:hover{
background-color: #343a40;
color:rgb(236, 224, 201);
}


